<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load staticfiles %}
		<link href="{% static 'Ucook/base2.css' %}" rel="stylesheet" type="text/css">
		<title> base</title>
	</head>

	<body>
        <div  class="big-heading">
            <span id = "base-nameOfSite">UCook</span>
            <a href="home.html"><button  id="base-home"> Home</button></a>
            <span class = "explore-dropdown">
            <button  id="base-explore"> Explore</button>
            <nav class="explore-dropdown-content">
                <a href="" id="base-findHost">Find Host</a >
                <a href="" id="base-findNonHost">Find Non-host </a >
            </nav>
        </span>
             <span class = "post-dropdown">
            <button  id="base-post"> Post</button>
            <nav class="post-dropdown-content">
                <a href="" id="base-iAmHost">I Am Host</a >
                <a href="" id="base-iAmNonHost">I Am Non-host </a >
            </nav>
        </span>
            <span class = "personal-dropdown">
            <button  id="base-username"> {{user.first_name}} {{user.last_name}}</button>
            <nav class="presonal-dropdown-content">
                <a href="" id="base-profile">Profile</a >
                <a href="{% url 'logout' %}" id="base-logout">Logout </a >
            </nav>
        </span>
		</div>



        <img id="register-logo" src="/static/images/ucook.png" alt="logo" width="360" height="260"><br>


        <div class="content">
            {% block content %}
            {% endblock %}
		</div>


	</body>
</html>
