<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Post Detail</title>-->
<!--</head>-->
<!--<body>-->

{% extends "Ucook/base.html" %}
{% block content %}

<div class="google">
    <p>Google Map</p>
</div>

<div class="detail">
    <label>Username: </label>
    <input id="detail-username" type="text"><br>
    <label>Time: </label>
    <input id="detail-time" type="text"><br>
    <label>Location: </label>
    <input id="detail-location" type="text"><br>
    <label>Provide: </label>
    <input id="detail-provide" type="text"><br>
    <label>Need: </label>
    <input id="detail-need" type="text"><br>
    <label>Text: </label>
    <input id="detail-text" type="text"><br>
    <button id="detail-request">Send Request</button>
</div>

{% endblock %}

<!--</body>-->
<!--</html>-->