{% extends "Ucook/base.html" %}

{% block content %}
    <br>
    <input type="text" name="search-host" />
     <a href="{% url 'explore-search' %}">
     <button id = "explore-search">Search</button>
     </a><br>

    <div class="explore-host-checkbox" >
    <p>Dish Type:</p>
    <input id="posthost-chinese" type="checkbox">Chinese
    <input id="posthost-korean" type="checkbox">Korean
    <input id="posthost-american" type="checkbox">American
    <input id="posthost-italian" type="checkbox">Italian
    <input id="posthost-indian" type="checkbox">Indian
    <input id="posthost-japanese" type="checkbox">Japanese
    <input id="posthost-mexican" type="checkbox">Mexican
    <input id="posthost-thai" type="checkbox">Thai
    <input id="posthost-vegetarian" type="checkbox">Vegetarian

    <p>They need me:</p>
    <input id="posthost-wash" type="checkbox">Wash Bowl
    <input id="posthost-ingredients" type="checkbox">Bring Ingredients
    <input id="posthost-prepare" type="checkbox">Prepare Food
    <input id="posthost-cook" type="checkbox">Do Cooking

     </div>

     <input type="text" id="explore-reasult1" />
     <a href="{% url 'explore-detail1' %}">
     <button id = "explore-detail1">Detail</button>
     </a><br>
     <input type="text" id="explore-reasult2" />
     <a href="{% url 'explore-detail2' %}">
     <button id = "explore-detail2">Detail</button>
     </a><br>
     <input type="text" id="explore-reasult3" />
     <a href="{% url 'explore-detail3' %}">
     <button id = "explore-detail3">Detail</button>
     </a><br>
{% endblock %}
