{% extends "Ucook/base.html" %}

{% block content %}
    <br>
    <input type="text" name="search-host" />
     <a href="{% url 'explore-search' %}">
     <button id = "explore-search">Search</button>
     </a><br>

    <div class="explore-host-checkbox" >
    <p>They provide me:</p>
    <input id="posthost-wash" type="checkbox">Wash Bowl
    <input id="posthost-ingredients" type="checkbox">Bring Ingredients
    <input id="posthost-prepare" type="checkbox">Prepare Food
    <input id="posthost-cook" type="checkbox">Do Cooking
    </div>

     <input type="text" id="explore-reasult1" />
     <a href="{% url 'explore-detail1' %}">
     <button id = "explore-detail1">Detail</button>
     </a><br>
     <input type="text" id="explore-reasult2" />
     <a href="{% url 'explore-detail2' %}">
     <button id = "explore-detail2">Detail</button>
     </a><br>
     <input type="text" id="explore-reasult3" />
     <a href="{% url 'explore-detail3' %}">
     <button id = "explore-detail3">Detail</button>
     </a><br>
{% endblock %}
