<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>My Post</title>-->
<!--</head>-->
<!--<body>-->

{% extends "Ucook/base.html" %}
{% block content %}

<div class="mypost-posted">
    <label>Posted</label>
    <p></p>
</div>

<div class="mypost-matched">
    <label>Matched - Direct to Online Chatting</label>
    <p></p>
</div>

<div class="mypost-completed">
    <label>Completed</label>
    <p></p>
</div>

{% endblock %}

<!--</body>-->
<!--</html>-->