<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Post for Non-Host</title>-->
<!--</head>-->
<!--<body>-->

{% extends "Ucook/base.html" %}
{% block content %}

<div class="postnonhost-provide">
    <p>What I provide:</p>
    <input id="postnonhost-wash" type="checkbox">Wash Bowl
    <input id="postnonhost-ingredients" type="checkbox">Bring Ingredients
    <input id="postnonhost-prepare" type="checkbox">Prepare Food
    <input id="postnonhost-cook" type="checkbox">Do Cooking

    <p>What I need:</p>
    <input id="postnonhost-chinese" type="checkbox">Chinese
    <input id="postnonhost-korean" type="checkbox">Korean
    <input id="postnonhost-american" type="checkbox">American
    <input id="postnonhost-italian" type="checkbox">Italian
    <input id="postnonhost-indian" type="checkbox">Indian
    <input id="postnonhost-japanese" type="checkbox">Japanese
    <input id="postnonhost-mexican" type="checkbox">Mexican
    <input id="postnonhost-thai" type="checkbox">Thai
    <input id="postnonhost-vegetarian" type="checkbox">Vegetarian

    <P>Information I want to share:</P>
    <input id="postnonhost-information" type="text">
</div>

{% endblock %}

<!--</body>-->
<!--</html>-->