<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Personal Profile</title>-->
<!--</head>-->
<!--<body>-->

{% extends "base.html" %}
{% block content %}

<div class="profile">
    <img id="profile-image"><br>
    <label id="profile-username">Username: {{TestName}}</label><br>
    <label id="profile-email">Email: {{TestEmail}}</label><br>
    <label id="profile-introduction">Introduction: {{TestIntroduction}}</label><br>
</div>

<br>

<a href="detail.html"><button>My Post</button></a>

{% endblock %}

<!--</body>-->
<!--</html>-->