{% extends "socialnetwork/base.html" %}

{% block user-info %}

        <span class = "dropdown" id="id_logged_in_user_name">
            <a href="" id="id_logged_in_user_name"> {{user.first_name}} {{user.last_name}} </a>
            <nav class="dropdown-content" id="id_logged_in_user_name">
                    <a href="{% url 'post' %}" id="id_nav_global_stream">Global Stream</a>
                    <a href="{% url 'followStream' %}" id="id_nav_follower_stream">Follower Stream</a>
                    <a href="{% url 'profile' user.id%}" id="id_nav_profile">My Profile</a>
                    <a href="{% url 'logout' %}" id="id_nav_logout">Logout </a>
            </nav>
        </span>

{% endblock %}

{% block content %}  
    <h2> Global Stream</h2>

    <form class="post" action="{% url 'post' %}" method="post">
        {% for field in forms.visible_fields %}
            <span id="post_text">New Post: {{ field }}</span>
        <button type = "submit" id="id_post_button">submit</button><br><br>
        {% endfor  %}
        {% csrf_token %}
    </form>

    <div class="errorlist">
        {% for error in errors%}
            {{error}}
        {% endfor %}
    </div>

    <div class ="post_content">
        {% for post in posts %}

            <em>Post by</em>

            <a href="{% url 'profile' post.user.id %}" class="profile_link" id="id_post_profile_{{ post.id }}" >{{post.user.first_name}} {{post.user.last_name}} </a>-
            <span class="post_content_text" id="id_post_text_{{ post.id }}">
                {{post.post_text}}
            </span>
        <span class="post_time" id="id_post_date_time_{{ post.id }}">-{{post.time}}</span><br>
            <br>

            <div class="comments">
                Comment: <input class="comment" id="id_comment_text_{{ post.id }}">
            <button type = "button" id="id_comment_button_{{ post.id }}">submit</button>
            </div>
        {% endfor %}



    </div>

{% endblock %}
