{% extends "socialnetwork/base.html" %}
{% load staticfiles %}
{% block js%}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="{% static 'js/followerstream.js' %}" type="text/javascript"></script>
{% endblock %}
{% block user-info %}

        <span class = "dropdown" >
            <span  id="id_logged_in_user_name"> {{user.first_name}} {{user.last_name}} ↓</span>
            <div class="dropdown-content" >
                    <a href="{% url 'post' %}" id="id_nav_global_stream">Global Stream</a>
                    <a href="{% url 'followStream' %}" id="id_nav_follower_stream">Follower Stream</a>
                    <a href="{% url 'profile' user.id%}" id="id_nav_profile">My Profile</a>
                    <a href="{% url 'logout' %}" id="id_nav_logout">Logout </a>
            </div>
        </span>

{% endblock %}

{% block content %}
    <h2> Follower Stream</h2>

    <div class ="post_content">
        {% for post in posts %}

            <em>Post by</em>
{#            may need to change #}
            <a href="{% url 'profile' post.user.id %}" id="id_post_profile_{{ post.id }}" class="profile_link">{{post.user.first_name}} {{post.user.last_name}} </a>-
            <span class="post_content_text" id="id_post_text_{{ post.id }}">
                {{post.post_text}}
            </span>
        <span class="post_time" id="id_post_date_time_{{ post.id }}">-{{post.time|date:"n/d/Y f a"}}</span><br>
        <input type = "hidden" id ="last_time" value = {{post.time|date:"c"}}>
            <br>

             <div class = "comment_content" id = "comment_content_{{ post.id }}">
            {%  for comment in comments %}
                {% if comment.post_id == post.id%}
                    <em>Comment by</em>
                    <a href="{% url 'profile' comment.user.id %}" id="id_comment_profile_{{ comment.user.id }}" class="profile_link">{{comment.user.first_name}} {{comment.user.last_name}} </a>-
                    <span class="comment_text" id="id_comment_text_{{ comment.id }}">{{ comment.comment_text }} </span>
                    <span class="comment_time" id="id_comment_date_time_{{ comment.id }}">{{comment.time|date:"n/d/Y f a"}}</span><br>
                    <input type = "hidden" id ="last_time" value = {{comment.time|date:"c"}}>
                {% endif %}

                {% endfor %}
            </div>


            <div>
                <label>Comment by:</label>
                <input id="id_comment_text_input_{{ post.id }}" type="text" name="comment">
{#                <button onclick="addcomment({{ post.id }})">submit</button>#}
                <button id="id_comment_button_{{ post.id }}" onclick="addcomment({{ post.id }})">submit</button><br><br>
                <span id="error" class="error"></span>

            </div>
        {% endfor %}

{#        <em>Post by</em>#}
{#        <a href="{% url 'follower' %}?id=2" id="id_post_profile_2" class="profile_link">Steve Rogers</a>#}
{#        <span class="post_content_text" id="id_post_text_2">#}
{#            - Anyone wants to go to gym?#}
{#        </span>#}
{#        <span class="post_time" id="id_post_date_time_2">-2/10/2019 13:28pm</span><br><br>#}

    </div>


{#    <div class="comments">#}
{#    <em>Comment by</em>#}
{#    <a href="{% url 'follower' %}?id=1" id="id_comment_profile_1" class="profile_link">Tony Stark</a>#}
{#    <span class="comment_content" id="id_comment_text_1">#}
{#    - I enjoyed my weekend in Florida#}
{#    </span>#}
{#    <span class="post_time" id="id_comment_date_time_1">-2/10/2019 02:30am</span><br>#}
{##}
{#    <em>Comment by</em>#}
{#    <a href="{% url 'follower' %}?id=3" id="id_comment_profile_3" class="profile_link">Peter Parker</a>#}
{#    <span class="comment_content" id="id_comment_text_3">#}
{#    - Get out of homework! Let's enjoy fresh air!#}
{#    </span>#}
{#    <span class="post_time" id="id_comment_date_time_3">-2/10/2019 10:00am</span><br><br>#}
{##}
{#    Comment: <input class="comment" id="id_comment_text_1">#}
{#    <button type = "button" id="id_comment_button_1">submit</button><br>#}
{#    </div>#}



{#    <div class="comments">#}
{#    Comment: <input class="comment" id="id_comment_text_2">#}
{#    <button type = "button" id="id_comment_button_2">submit</button>#}
{#    </div>#}
{##}
{#    <div>#}
{##}
{#    </div>#}
{% endblock %}
